.service{
    display: grid;
    padding:100px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    text-decoration: none;
    font-size: 18px;
}
.service-prop{
    background-color: aquamarine;
    padding: 40px;
    text-align: center;
    border-radius: 20px;

}
.Au{
    background-color: rgb(248, 238, 238);
    font-size: 20px;
    align-items: center;
    padding: 150px;
    color:rgb(4, 109, 52);
}
.Pic{
    display: flex;
    justify-content: center;
}
.Pic1{
     width: 850px ;height: 350px;
     border-radius: 20px;
  }
  @media(max-width:950x){
        .Pic{
            width:300px;height:150px ;
        }

  }